@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

:root {
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
}

aside .container {
	background-image: url(../images/seasonalStreetSign.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

figure {
	border: 0.5px whitesmoke solid;
	border-radius: 15px;
}

button {
	width: 100%;
}

#city_name {
	padding-top: 10px;
}

h5 {
	margin-top: 0px;
}

nav {
	text-align: center;
}

nav .brand-logo {
	position: relative;
}

.divider {
	margin: 0;
	margin-top: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
}

.card-content .white-text {
	padding: 20px;
}

.cardTitle {
	margin-bottom: 2px;
}

.cardTitle #currWeatherIcon {
	background-size: 50% 50%;
}
